a.airbnb-ad:hover, a.airbnb-ad:focus a {
  text-decoration: none;
}

.airbnb-ad-left-box {
  background-image: url(/img/airbnb_ad/1010581.png);
  background-size: cover;
  min-height: 240px;
}

.airbnb-ad-right-box {
  padding-left: 30px;
  padding-bottom: 15px;
}

.airbnb-ad-big-text {
  color:white;
  font-weight:bold;
  font-size: xx-large;
  font-family: sans-serif;
}

.airbnb-ad-sub-text {
  color:white;
  font-weight:bold;
  font-family: sans-serif;
}

.airbnb-ad-button {
  border-radius: 10px;
  margin-top: 15px;
}

.airbnb-ad-img {
  height: 25px;
}