.img-subtext {
  font-size: small;
  padding: 10px;
}

.img-half {
  width: 50%;
  padding: 1px;
}

.img-full {
  width: 100%;
}

.post-preview-continue-reading {
  font-weight: bold;
}

.logo {
  width: 75px;

  &.desktop {
    display: none;
    @media only screen and (min-width: 992px) {
    display: inline-block;
    }
  }

  &.mobile {
    display: none;
    @media only screen and (max-width: 991px) {
    display: inline-block;
    }
  }
}