<a class="airbnb-ad" href="https://www.airbnb.com/rooms/51103181" target="_blank"><div class="container" style="background:#c35b26">
  <div class="row">
    <div class="col-md-4 col-sm-12 airbnb-ad-left-box">
    </div>
    <div class="col-md-8 col-sm-1 airbnb-ad-right-box row align-items-center">
          <span class="airbnb-ad-big-text">Lust auf Sonne, Meer und Segeln?</span>
          <div class="airbnb-ad-sub-text">Besuch uns! Wir haben ein airbnb für dich frei.</div>
          <button type="button" class="btn btn-outline-light airbnb-ad-button">
          <img class="airbnb-ad-img" src="/img/airbnb_logo.png" />
          Jetzt buchen!</button>
    </div>
  </div>
</div>
</a>