<div style="display: flex; gap: 2px;">
  <div style="flex: 1;">
    <a href="{{url_left | safe }}" alt="{{text_left}}" target="_blank">
      <img style="width: 100%;" src="{{url_left | safe}}" alt="{{text_left}}" />
    </a>
    <div class="img-subtext">{{text_left}}</div>
  </div>
  <div style="flex: 1;">
    <a href="{{url_right | safe }}" alt="{{text_right}}" target="_blank">
      <img style="width: 100%;" src="{{url_right | safe}}" alt="{{text_right}}" />
    </a>
    <div class="img-subtext">{{text_right}}</div>
  </div>
</div>