{% extends "index.html" %}

{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ get_url(path="/img/contact-bg.jpg")}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Boot(e)</h1>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<!-- Main Content -->
<div class="container page-boat">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2>Die Futura</h2>
      <img src="{{ get_url(path="/img/wiedersehen-in-palma/futura-min.jpg")}}" alt="Die Futura" class="img-fluid">
      <p>Die Futura war unser erstes Boot. Mit ihr haben wir Segeln gelernt.</p>
      <table>
        <tr>
          <th>Zeitraum:</th>
          <td>Gekauft Januar 2022, verkauft Oktober 2023</td>
        </tr>
        <tr>
          <th>Schiffstyp:</th>
          <td>Jeanneau Sun Odyssey 33 3C</td>
        </tr>
        <tr>
          <th>Baujahr:</th>
          <td>1993</td>
        </tr>
        <tr>
          <th>Länge:</th>
          <td>10,30m</td>
        </tr>
        <tr>
          <th>Breite:</th>
          <td>3,5m</td>
        </tr>
        <tr>
          <th>Tiefgang:</th>
          <td>1,65</td>
        </tr>
        <tr>
          <th>Segel:</th>
          <td>Rollgroß, Genua, Blister</td>
        </tr>
        <tr>
          <th>Maschine:</th>
          <td>Yanmar 3GM30F</td>
        </tr>
        <tr>
          <th>Batterien:</th>
          <td>3 x AGM 85 Ah</td>
        </tr>
        <tr>
          <th>Solar:</th>
          <td>190 Watt</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock content %}